.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  border-bottom: 1px solid #2f3232;
}
.profile-img {
  border-radius: 50%;
  width: 32px;
  background-color: white;
  color: black;
  text-align: center;
}
