<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin: 0 auto">Sites</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="showProgressBar"
></mat-progress-bar>
<mat-list>
  <mat-list-item
    *ngFor="let site of sitesData"
    style="border-bottom: 1px solid #2f3232"
    (click)="goToSite(site.id)"
  >
    <img matListAvatar [src]="site.imgSrc" [alt]="site.siteName" />
    <h3 matLine>{{ site.siteName }}</h3>
    <p matLine>{{ site.shortAddress }}</p>
    <p matLine>
      {{ site.mainContact }}
    </p>
    <button mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
