<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin: 0 auto">Sites</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  color="primary"
  *ngIf="showProgressBar"
></mat-progress-bar>
<cdk-virtual-scroll-viewport itemSize="88" class="scroller-viewport">
  <mat-list>
    <mat-list-item
      *cdkVirtualFor="let site of sitesData"
      class="list-item-border"
      (click)="goToSite(site.id)"
    >
      <img matListAvatar [src]="site.imgSrc" [alt]="site.siteName" />
      <h3 matLine>{{ site.siteName }}</h3>
      <p matLine>{{ site.shortAddress }}</p>
      <p matLine>
        {{ site.mainContact }}
      </p>
      <button mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</cdk-virtual-scroll-viewport>
