<div *ngIf="showDetailSection">
  <mat-list class="primary-color">
    <mat-list-item (click)="goBack()">
      <mat-icon mat-list-icon class="font-white">arrow_back_ios</mat-icon>
      <img
        matListAvatar
        [src]="siteDetails.imgSrc"
        [alt]="siteDetails.siteName"
      />
      <h3 matLine class="font-white">{{ siteDetails.siteName }}</h3>
      <p matLine>
        {{ siteDetails.shortAddress }}
      </p>
      <p matLine>
        {{ siteDetails.mainContact }}
      </p>
    </mat-list-item>
  </mat-list>
  <div class="site-container">
    <img [src]="siteDetails.imgSrc" class="cover-photo" />
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h3 mat-line>
          {{ siteDetails.mainContact }}
        </h3>
        <p mat-line>{{ siteDetails.jobTitle }}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <h3 mat-line>{{ siteDetails.phoneNumber }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <h3 mat-line>{{ siteDetails.email }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <p class="padding-left-16">
          {{ siteDetails.fullAddress }}
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
