<div *ngIf="showDetailSection">
  <mat-list class="primary-color">
    <mat-list-item (click)="goBack()">
      <mat-icon mat-list-icon class="font-white">arrow_back_ios</mat-icon>
      <img
        matListAvatar
        [src]="siteDetails.images[0]"
        [alt]="siteDetails.title"
      />
      <h3 matLine class="font-white">{{ siteDetails.title }}</h3>
      <p matLine>
        {{ siteDetails.address.state + ", " + siteDetails.address.country }}
      </p>
      <p matLine>
        {{
          siteDetails.contacts.main.firstName +
            " " +
            siteDetails.contacts.main.lastName
        }}
      </p>
    </mat-list-item>
  </mat-list>
  <div class="site-container">
    <img [src]="siteDetails.images[0]" class="cover-photo" />
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h3 mat-line>
          {{
            siteDetails.contacts.main.firstName +
              " " +
              siteDetails.contacts.main.lastName
          }}
        </h3>
        <p mat-line>{{ siteDetails.contacts.main.jobTitle }}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <h3 mat-line>{{ siteDetails.contacts.main.phoneNumber }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <h3 mat-line>{{ siteDetails.contacts.main.email }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <p class="padding-left-16">
          {{
            siteDetails.address.street +
              ", " +
              siteDetails.address.city +
              ", " +
              siteDetails.address.state +
              ", " +
              siteDetails.address.country +
              " - " +
              siteDetails.address.zipCode
          }}
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
