// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
  50: #e5effc,
  100: #bfd6f7,
  200: #95bbf2,
  300: #6aa0ec,
  400: #4a8be8,
  500: #2a77e4,
  600: #256fe1,
  700: #1f64dd,
  800: #195ad9,
  900: #0f47d1,
  A100: #fefeff,
  A200: #cbd8ff,
  A400: #98b2ff,
  A700: #7f9fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-accent: (
  50: #e6e6e6,
  100: #c1c2c2,
  200: #989999,
  300: #6e7070,
  400: #4f5151,
  500: #303232,
  600: #2b2d2d,
  700: #242626,
  800: #1e1f1f,
  900: #131313,
  A100: #ef6c6c,
  A200: #ea3e3e,
  A400: #f50000,
  A700: #db0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$site-list-primary: mat-palette($mat-primary);
$site-list-accent: mat-palette($mat-accent);

// The warn palette is optional (defaults to red).
$site-list-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$site-list-theme: mat-light-theme(
  (
    color: (
      primary: $site-list-primary,
      accent: $site-list-accent,
      warn: $site-list-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($site-list-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
